In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
# Read in all relevant datasources

# CFB data
cfb2019 = pd.read_csv("/Users/wesdunphy/Documents/Code/Python/MAB/CFB2019.csv")

# Coaches Data
coaches = pd.read_csv("/Users/wesdunphy/Documents/Code/Python/MAB/Coaches9.csv")

# College Stadiums
# Include thousands arg to account for parsing the stadium volumes correctly
stadiums = pd.read_csv("/Users/wesdunphy/Documents/Code/Python/MAB/college_stadium_capacity.csv", thousands=',')

# Grad rates
grad_rates = pd.read_csv("/Users/wesdunphy/Documents/Code/Python/MAB/grad_rates.csv")

# University revenues
revenue_sources = pd.read_csv("/Users/wesdunphy/Documents/Code/Python/MAB/revenue_by_university.csv")

In [3]:
# Clean columns as necessary

# Remove dollar values and cast as floats
# Need to handle '--' cells as well
coaches.iloc[0:, 3:] = coaches.iloc[0:,3:].apply(lambda x: x.str.replace('$','')).apply(lambda x: x.str.replace(',','')).apply(lambda x: x.str.replace('--','0')).astype(np.int64)

# Revenue needs to remove NaN values in dollar columns
# Apply same cleaning as coaches revenue
revenue_sources.dropna(inplace=True)
revenue_sources.iloc[0:, 5:] = revenue_sources.iloc[0:, 5:].apply(lambda x: x.str.replace('$','')).apply(lambda x: x.str.replace(',','')).apply(lambda x: x.str.replace('--','0')).astype(np.int64)

### What is the best way to determine the salary of a coach?

Using available data for coaches, graduation rates, and revenues from stadiums, what is an appopriate salary for a coach?

Key questions we will want to answer:
 - What is an appropriate performance expectation given a coaches salary?
 - What, if any, relationship should there be between a coaches salary and graduation rate?
 - At what point is a coaches salary an unnecessary burden on a schools finances?

In [4]:
# We will want to join a dataframe of the cleaned raw datasets

# Isolate columns that we will want to keep

# Coaches colums
# Drop assistant column since they are all blank
coaches_sub = coaches[["School", "Conference", "Coach", "SchoolPay", "TotalPay", "Bonus", "BonusPaid", "Buyout"]]

# Football records
# Split "Team" into "School" and "Conference" columns
# Have to split on extra column to account for Miami(FL) and Miami(OH)
# These will have to merged with the School name and converted to match with coaches
cfb2019[["School", "Conference", "Extra"]] = cfb2019.Team.str.split("(", expand=True)
cfb2019[cfb2019["Extra"].isnull() == False] # identifies the miami teams
cfb2019.iat[57, -3] = "Miami (Fla.)" # matches coaches "School"
cfb2019.iat[58, -3] = "Miami (Ohio)" # matches coaches "School"
cfb2019 = cfb2019.drop(columns = ["Extra", "Conference"])
cfb2019_sub = cfb2019[["School", "Games", "Win-Loss", "Off Rank", "Def Rank"]]

# Grad Rates
# Only need school name + GSR/FGR
grad_rates_sub = grad_rates[["University", "GSR", "FGR"]]
grad_rates_sub.rename(columns={"University": "School"})

# Stadiums
stadiums_sub = stadiums[["College", "Capacity"]]
stadiums_sub.rename(columns={"College": "School"})

# Revenue Sources
revenue_sources_sub = revenue_sources[["College", 
                                       "Other Revenue",
                                       "Corporate Sponsorship, Advertising, Licensing",
                                       "Donor Contributions",
                                       "Competition Guarantees",
                                       "NCAA/Conference Distributions, Media Rights, and Post-Season Football",
                                       "Ticket Sales",
                                       "Institutional/Government Support",
                                       "Student Fees"]]
revenue_sources_sub.rename(columns={"College": "School"})

,School,Other Revenue,"Corporate Sponsorship, Advertising, Licensing",Donor Contributions,Competition Guarantees,"NCAA/Conference Distributions, Media Rights, and Post-Season Football",Ticket Sales,Institutional/Government Support,Student Fees
4,Arizona State University,3420533,3860104,11791138,1164271,8238025,10254504,11539986,0
5,Arkansas State University,731964,392271,502438,654320,700444,1464000,1027282,2348941
6,Auburn University,4056519,1110444,26306262,825480,13279251,20099721,0,922248
8,Ball State University,947104,226643,1522225,1103500,775635,1008701,3515736,7093120
10,Boise State University,1605792,1809906,2771494,767850,1748264,3845490,5643069,2401225
11,Bowling Green State University,1342963,594163,4549215,620000,727285,1009163,148873,8624189
14,California State University-Fresno,1409646,1788240,6558366,777500,2339874,8545065,5423735,254098
20,Central Michigan University,1628137,463849,971664,619450,944200,614863,12517504,0
23,Clemson University,4226818,2733825,8830649,1394402,11173528,14716363,1947677,1406844
28,Colorado State University,2309316,1847380,2737868,702115,2281989,2748331,4207588,2516159
31,East Carolina University,1685564,1059763,4123482,361500,2709927,3075339,2142108,7510446
35,Eastern Michigan University,598069,50449,496787,659503,869575,216135,9266566,7555469
38,Florida Atlantic University,52013,545384,746458,1294500,752444,459183,2971770,7816240
40,Florida International University,327832,88181,678268,1148960,536351,410212,1200550,11706175
41,Florida State University,10887560,6401109,16053230,1728902,12319415,13260770,350000,6011806
43,Georgia Institute of Technology,10860103,1188610,10132636,1173402,10284425,9170181,621575,2098406
50,Indiana University-Bloomington,2646059,2621725,7526790,1003758,14073318,10606825,2006012,1024358
52,Iowa State University,2474732,1331283,3979931,127934,10414252,10195647,2824101,1089160
56,Kansas State University,4446497,501111,14079775,253000,9556786,12469641,1522182,582352
58,Kent State University,2434153,363738,292507,738000,830468,436309,3490969,9408500
61,Louisiana State University and Agricultural & ...,9587347,1151563,17410137,829500,16972754,21479485,0,0
62,Louisiana Tech University,233705,277187,1558373,1332500,1123872,897456,6300197,0
63,Marshall University,1539138,233693,3753772,512566,2569277,2881397,5008757,3648813
65,Miami University,2014073,708566,739623,559240,1192746,940870,4079132,10657204
66,Michigan State University,8115195,3538225,17975933,3893717,12010187,19444048,3419827,0
67,Middle Tennessee State University,264157,853599,365830,1110750,1053648,929736,8639989,4255770
68,Mississippi State University,2411290,417978,2109765,611686,9681561,6674951,500938,3430512
76,New Mexico State University,319132,737757,1455064,435500,752305,1963416,11091408,1795434
81,North Carolina State University at Raleigh,1886221,154950,7719365,50115,13765073,16855670,3000000,2404701
84,Northern Illinois University,1613372,736481,1019791,779938,885335,902056,5371910,6228207
...,...,...,...,...,...,...,...,...,...
166,University of Louisiana at Monroe,143649,192706,834546,1743820,509085,450434,3730702,0
167,University of Louisville,4505055,3000137,13137225,959200,7865057,15351891,5343929,1857752
171,University of Maryland-College Park,5153180,3920490,10305967,2733584,9356497,12239186,2379852,7554631
174,University of Memphis,1937730,1574566,7046392,616990,2894820,7879889,1317212,3887929
175,University of Michigan,9601853,11159243,13961314,188440,13823100,36681373,37118,0
176,University of Minnesota-Twin Cities,8210446,4042174,6412695,195300,12974407,18084403,8607622,0
177,University of Mississippi,2063581,216303,3685949,1063550,10469249,9352455,996399,1565462
178,University of Missouri-Columbia,7883447,780560,14304319,171080,9915440,14599807,2840795,0
181,University of Nebraska-Lincoln,6851737,7605895,11749526,74879,12745244,24696256,0,0
182,University of Nevada-Las Vegas,1503940,574431,6343386,155000,2187551,3684613,15592060,2038330
183,University of Nevada-Reno,1060049,935005,10416032,173110,2327225,3344804,7886359,1138130
185,University of New Mexico,1425759,2742578,3996594,355070,2632307,6147810,5757415,1015255
188,University of North Carolina at Chapel Hill,4156276,2738658,12463719,2043944,16047993,14273067,3481044,4829532
194,University of North Texas,1007546,434418,1494883,1273500,553165,441574,0,4275375
197,University of Oklahoma,5276146,7375647,10820720,549620,11065627,29284212,0,150000
198,University of Oregon,6480273,2000000,11863044,1145362,8872685,13418338,0,1417567
201,University of South Carolina,6426574,1857787,16295776,844000,11864116,13892489,280000,597515
204,University of South Florida,612723,1132534,2092880,1479650,4823715,4231975,1140298,10227371
205,University of Southern Mississippi,538556,1067625,4666423,1213870,3021473,1965531,2116950,4869640
206,University of Toledo,468236,957192,1613218,400350,689963,1432132,1331335,8638246
207,University of Utah,2459714,75769,4876238,271000,3134133,7692268,3058901,3478743
209,University of Virginia,2949527,2240604,14567256,1358402,10502068,12153501,0,9127368
210,University of Washington,5172768,3309505,11664178,1174698,10775378,18760681,1584626,0
212,University of Wisconsin-Madison,13161787,2439632,19106871,560000,16410950,21538228,5730773,0
214,University of Wyoming,1468385,823447,1271097,746880,2941774,3165695,9822247,947795
215,Utah State University,225633,937799,1037668,733500,1112801,1100838,4254069,1531316
219,Virginia Polytechnic Institute and State Unive...,4020734,733677,13866740,274795,10612451,12939602,323041,5886964
220,Washington State University,2316329,1360353,5946515,1365689,7440158,5698411,6854522,946716
222,West Virginia University,3889321,4486561,19725057,894795,8221512,9666049,143214,2891027
226,Western Michigan University,1833414,1108556,884203,428712,947205,1347328,14474157,0

In [ ]:
cfb2019_sub["School"].replace({"School": school_dict}, inplace=True)

In [ ]:
school_dict = {
    'UAB' : 'Alabama at Birmingham',
    'Appalachian St.' : 'Appalachian State',
    'Arizona St.' : 'Arizona State',
    'Arkansas St.' : 'Arkansas State',
    'Army West Point' : 'Army',
    'Ball St.' : 'Ball State',
    'Boise St.' : 'Boise State',
    'BYU' : 'Brigham Young',
    'UCF' : 'Central Florida',
    'Central Mich.' : 'Central Michigan',
    'Colorado St.' : 'Colorado State',
    'UConn' : 'Connecticut',
    'FIU' : 'Florida Internationa',
    'Fla. Atlantic' : 'Florida Atlantic',
    'Florida St.' : 'Florida State',
    'Fresno St.' : 'Fresno State',
    'Ga. Southern' : 'Georgia Southern',
    'Georgia St.' : 'Georgia State',
    'Iowa St.' : 'Iowa State',
    'Kansas St.' : 'Kansas State',
    'Kent St.' : 'Kent State',
    'La.-Monroe' : 'Louisiana-Monroe',
    'Michigan St.' : 'Michigan State',
    'Middle Tenn.': 'Middle Tennessee',
    'Mississippi St.' : 'Mississippi State',
    'NC State' : 'North Carolina State',
    'UNLV' : 'Nevada-Las Vegas',
    'New Mexico St.' : 'New Mexico State',
    'Northern Ill.' : 'Northern Illinois',
    'Ohio St.' : 'Ohio State',
    'Oklahoma St.' : 'Oklahoma State',
    'Oregon St.' : 'Oregon State',
    'Penn St.' : 'Penn State',
    'San Diego St.' : 'San Diego State',
    'San Jose St.' : 'San Jose State',
    'SMU' : 'Southern Methodist',
    'South Fla.' : 'South Florida',
    'Southern Miss.' : 'Southern Mississippi',
    'Texas St.' : 'Texas State',
    'TCU' : 'Texas Christian',
    'UTEP' : 'Texas El-Paso',
    'UTSA' : 'Texas San Antonio',
    'Utah St.' : 'Utah State',
    'Washington St.' : 'Washington State',
    'Western Ky.' : 'Western Kentucky',
    'Western Mich.' : 'Western Michigan',
}

In [6]:
cfb2019_sub

                School  Games Win-Loss  Off Rank  Def Rank
0           Air Force      13     11-2        51        17
1               Akron      12     0-12       130        83
2             Alabama      13     11-2         6        20
3     Appalachian St.      14     13-1        39        26
4             Arizona      12      4-8        30       120
5         Arizona St.      13      8-5        94        67
6            Arkansas      12     2-10       111       110
7        Arkansas St.      13      8-5        33       124
8     Army West Point      13      5-8        89        30
9              Auburn      13      9-4        64        28
10           Ball St.      12      5-7        16        91
11             Baylor      14     11-3        52        39
12          Boise St.      14     12-2        48        33
13     Boston College      13      6-7        47       125
14      Bowling Green      12      3-9       120       117
15            Buffalo      13      8-5        82         7
16                BYU      13      7-6        28        68
17         California      13      8-5       117        65
18      Central Mich.      14      8-6        37        41
19          Charlotte      13      7-6        56        59
20         Cincinnati      14     11-3        80        40
21            Clemson      15     14-1         5         6
22   Coastal Carolina      12      5-7        74        62
23           Colorado      12      5-7        83       104
24       Colorado St.      12      4-8        34        52
25               Duke      12      5-7       114        56
26      East Carolina      12      4-8        46       119
27      Eastern Mich.      13      6-7        67        94
28                FIU      13      6-7        91        69
29      Fla. Atlantic      14     11-3        23        50
..                 ...    ...      ...       ...       ...
100            Temple      13      8-5        77        54
101         Tennessee      13      8-5       100        23
102             Texas      13      8-5        14        97
103         Texas A&M      13      8-5        72        29
104         Texas St.      12      3-9       121        86
105        Texas Tech      12      4-8        11       127
106            Toledo      12      6-6        36       123
107              Troy      12      5-7        18        99
108            Tulane      13      7-6        22        51
109             Tulsa      12      4-8        53        70
110               UAB      14      9-5       105         8
111               UCF      13     10-3         2        32
112              UCLA      12      4-8        65       113
113             UConn      12     2-10       108       116
114              UNLV      12      4-8        92       105
115              Utah      14     11-3        48         2
116          Utah St.      13      7-6        44       103
117              UTEP      12     1-11       116        95
118              UTSA      12      4-8       107        92
119        Vanderbilt      12      3-9       123       101
120          Virginia      14      9-5        81        48
121     Virginia Tech      13      8-5        86        42
122       Wake Forest      13      8-5        15        84
123        Washington      13      8-5        79        35
124    Washington St.      13      6-7         7       111
125     West Virginia      12      5-7       119        74
126       Western Ky.      13      9-4        84        24
127     Western Mich.      13      7-6        25        87
128         Wisconsin      14     10-4        38         4
129           Wyoming      13      8-5       106        43

[130 rows x 5 columns]